# Compiled object files
*.o
*.obj

# Compiled dynamic libraries
*.so
*.dylib
*.dll

# Executables
*.exe
*.exec
bin/*screen_capture.jpg
bin/tested_.jpg

# Build directory
build/

# OpenCV build artifacts
opencv/build/

# IDE specific files
.vscode/
.idea/
*.sln
*.vcxproj
*.vcxproj.filters
.DS_STORE

# Other
scratch/